body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.welcome-content {
  text-align: center;
  background: #54f372;
  padding: 30px 10px;
  border-radius: 20px;
}