.page-content-wrap .content {
    color: #222c35;
    margin: 0 auto;
    padding: 25px 25px;
}

.page-content-wrap .article-box-list{
    margin-bottom: 50px;
    border-bottom: 1px #749398 solid;
}

@media screen and (min-width: 992px){
    .page-content-wrap .content {
        width: 60%;
    }
}
@media screen and (max-width: 991px){
    .page-content-wrap .content {
        width: 90%;
    }
}