.app-logo {
    height: 50px;
}

.app-header {
    background: #222c35;
    padding: 10px 20px;
    color: white;
    text-align: center;
}

@media screen and (max-width: 442px){
    .app-logo {
        height: 30px;
    }
}