body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.page-content-wrap .container {
  color: #222c35;
  padding-top: 55px;
  padding-bottom: 55px;
}

.page-content-wrap .article-box-list{
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-content-wrap .article-box-list hr{
  margin-top: 40px; 
}

.page-content-wrap .article-box-list img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 992px){
  
}
@media screen and (max-width: 991px){
  
}
